<link href="/src/app/components/about/about.component.css" rel="stylesheet">
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card card-custom">
                <div class="card-body">
                    <h5 class="card-title">Equipo</h5>
                    <img src="/assets/images/nosotros.jpg" class="card-img-top" alt="Card Image 1">

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-custom">
                <div class="card-body">
                    <h5 class="card-title">Almacen</h5>
                    <img src="/assets/images/img-prueba.jpg" class="card-img-top" alt="Card Image 2">
   
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-custom">
                <div class="card-body">
                    <h5 class="card-title">Tienda</h5>
                    <img src="/assets/images/entrada.jpg" class="card-img-top" alt="Card Image 3">
      
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-custom">
                <div class="card-body">
                    <h5 class="card-title">Empresa</h5>
                    <img src="/assets/images/empresa.jpg" class="card-img-top" alt="Card Image 4">

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

