<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUESTROS PRODUCTOS</title>
    <link href="/src/app/components/pagina3/pagina3.component.css" rel="stylesheet">

</head>
<body>
    <section id="section3" class="section">
        <div class="container-fluid pt-5">
            <div class="container">              
                <div class="wrap">
                    <h1>NUESTROS PRODUCTOS</h1>
                    <p>Los mejores productos y precios. </p>
                    <div class="store-wrapper">
                        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                            <div class="container">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNav">
                                    <ul class="navbar-nav mx-auto">
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" href="#" category="all"></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" href="#" ></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" href="#" ></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" href="#" ></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" href="#" ></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                        
                        <!-- Lista de productos -->
                        <section class="products-list">
                            <div class="product-item">
                                <img src="/assets/images/producto/HANSANG/14-HANSANG-PINON-Y-CORONA-768x512.jpg" >
                            </div>
                            <div class="product-item" >
                                <img src="/assets/images/producto/HANSANG/PROPULSOR-Y-DESLIZANTE-3-768x636.png" >
                            </div>
                            <div class="product-item" >
                                <img src="/assets/images/producto/HANSANG/TRENFIJO2-768x690.jpg" >
                            </div>
                            <div class="product-item" >
                                <img src="/assets/images/producto/SANGSIN/pastilla-hagen.1-3-768x492.png">
                            </div>
                            <div class="product-item" >
                                <img src="/assets/images/producto/SANGSIN/pastilla-hiq.1-2-768x469.png" >
                            </div>
                            <div class="product-item" >
                                <img src="/assets/images/producto/SANGSIN/pastilla-severe-duty.1-1-768x523.png" >
                            </div>
                            <div class="product-item" >
                                <img src="/assets/images/producto/valeo/DISCO-DE-EMBRAGUE-768x551.png" >
                            </div>
                            <div class="product-item" >
                                <img src="/assets/images/producto/valeo/IPEX080internet-768x512.jpg" >
                            </div>
                            <div class="product-item" >
                                <img src="/assets/images/producto/valeo/PLATO-DE-EMBRAGUE-768x515.png" >
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
