<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Servicios</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <link href="/src/app/components/pagina2/pagina2.component.css" rel="stylesheet">

</head>
<body>
  <div class="skew-bg"></div>
  <div class="container">
    <h2 class="textos">Servicios</h2>
    <h3 class="textos">Estamos listos para atenderte.</h3>
    <div class="card-row">
      <div class="card-column">
        <div class="card">
          <h2 class="card-title">Ventas</h2>
          <p class="card-description">Venta de los mejores repuestos de partes de motor, cajas, transmisiones, piñones, coronas y trenes fijos de las marcas de Korea y Japon. A los mejores precios del mercado.</p>
        </div>
        <div class="card">
          <h2 class="card-title">Delivery</h2>
          <p class="card-description">Compras sin salir de casa, realizamos entregas a domicilio en el menor tiempo posible.</p>
        </div>
      </div>
      <div class="card-column">
        <div class="card">
          <h2 class="card-title">Asesoría</h2>
          <p class="card-description">Le brindamos una asesoría personalidad acerca de nuestros productos, a elegir el mejor repuesto para su movilidad.</p>
        </div>
        <div class="card">
          <h2 class="card-title">Productos</h2>
          <p class="card-description">Contamos con las mejores marcas y calidad de productos del mercado.</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
